@import url('nav.css');

h1 {
  font-size: 4rem;
  text-align: center;
  background-color: #E39A36;
  padding: 5rem;
}
body {
  background-color: #F2F2F2;
}
#order-form {
  margin: 5rem auto;
  text-align: center;
}
#order-form input {
  width: 50px;
}
.container {
  display: flex;
  flex-direction: row;
  height: 10rem;
  justify-content: space-around;
  padding: 3rem 0;
  border-bottom: 2px;
  border-style: solid;
  border-color: #EBECF0;
  width: 70%;
  margin: 5rem auto 0 auto;
  background-color: #fff;
  border-radius: 20px;
  font-size: 1.3rem;
}
.small-cont {
  display: block;
  height: 100px;
  margin-left: 2rem;
  padding: 1rem;
  text-align: center;
  justify-content: center;
}
#contact {
  display: flex;
  flex-direction: column;
  width: 30%;
  margin: 10rem auto;
}
#contact label {
  margin-top: 2rem;
}
#contact input {
  margin-top: 10px;
  height: 2.5rem;
  border-radius: 10px;
}
#firstName,
#lastName,
#tel,
#postalCode,
#street,
#city,
#zip {
  padding: 1rem;
}
textarea {
  border-radius: 10px;
  padding: 1rem;
}
#submit-btn {
  width: 50px;
  text-align: center;
  margin: 2rem auto;
  background-color: #fff;
  border-radius: 10px;
  font-size: 15px;
  cursor: pointer;
  padding: 0;
}




