<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../stylesheets/questions/index.css">

    <title>Awesome Answers</title>
  </head>
  <body>
    <header>
      <div class="navbar">
        <a href="../home.html" class="image-link"><img alt="Question Bubble" src="../../imgs/logo.svg" class="question-img" /></a>
        <div class='inner-navbar-container'>
          <div><a href="./index.html">Questions</a></div>
          <div><a href="./new.html">New Questions</a></div>
          <div><a href="sign in">Sign In</a></div>
          <div><a href='sign up'>Sign Up</a></div>
        </div>
      </div>
    </header>
    <div class="main-container">
      <div class="quote-container">
        <div class="quote">
          Backing up the panel won't do anything. we need to reboot redundant! Trying to get 
          words to get the letter count to 120.
        </div>
        <div class="created">Asked by John Snow 4 months ago</div>
        <div class="viewed">Seen 21241 times</div>
      </div>
      <div class="quote-container">
        <div class="quote">
          Backing up the panel won't do anything. we need to reboot redundant! Trying to get 
          words to get the letter count to 120.
        </div>
        <div class="created">Asked by John Snow 4 months ago</div>
        <div class="viewed">Seen 21241 times</div>
      </div>
      <div class="quote-container">
        <div class="quote">
          Backing up the panel won't do anything. we need to reboot redundant! Trying to get 
          words to get the letter count to 120.
        </div>
        <div class="created">Asked by John Snow 4 months ago</div>
        <div class="viewed">Seen 21241 times</div>
      </div>
      <div class="quote-container">
        <div class="quote">
          Backing up the panel won't do anything. we need to reboot redundant! Trying to get 
          words to get the letter count to 120.
        </div>
        <div class="created">Asked by John Snow 4 months ago</div>
        <div class="viewed">Seen 21241 times</div>
      </div>
      <div class="quote-container">
        <div class="quote">
          Backing up the panel won't do anything. we need to reboot redundant! Trying to get 
          words to get the letter count to 120.
        </div>
        <div class="created">Asked by John Snow 4 months ago</div>
        <div class="viewed">Seen 21241 times</div>
      </div>
      <div class="quote-container">
        <div class="quote">
          Backing up the panel won't do anything. we need to reboot redundant! Trying to get 
          words to get the letter count to 120.
        </div>
        <div class="created">Asked by John Snow 4 months ago</div>
        <div class="viewed">Seen 21241 times</div>
      </div>
      <div class="quote-container">
        <div class="quote">
          Backing up the panel won't do anything. we need to reboot redundant! Trying to get 
          words to get the letter count to 120.
        </div>
        <div class="created">Asked by John Snow 4 months ago</div>
        <div class="viewed">Seen 21241 times</div>
      </div>
      <div class="quote-container">
        <div class="quote">
          Backing up the panel won't do anything. we need to reboot redundant! Trying to get 
          words to get the letter count to 120.
        </div>
        <div class="created">Asked by John Snow 4 months ago</div>
        <div class="viewed">Seen 21241 times</div>
      </div>
      <div class="quote-container">
        <div class="quote">
          Backing up the panel won't do anything. we need to reboot redundant! Trying to get 
          words to get the letter count to 120.
        </div>
        <div class="created">Asked by John Snow 4 months ago</div>
        <div class="viewed">Seen 21241 times</div>
      </div>
      <div class="quote-container">
        <div class="quote">
          Backing up the panel won't do anything. we need to reboot redundant! Trying to get 
          words to get the letter count to 120.
        </div>
        <div class="created">Asked by John Snow 4 months ago</div>
        <div class="viewed">Seen 21241 times</div>
      </div>
      <div class="quote-container">
        <div class="quote">
          Backing up the panel won't do anything. we need to reboot redundant! Trying to get 
          words to get the letter count to 120.
        </div>
        <div class="created">Asked by John Snow 4 months ago</div>
        <div class="viewed">Seen 21241 times</div>
      </div>
      <div class="quote-container">
        <div class="quote">
          Backing up the panel won't do anything. we need to reboot redundant! Trying to get 
          words to get the letter count to 120.
        </div>
        <div class="created">Asked by John Snow 4 months ago</div>
        <div class="viewed">Seen 21241 times</div>
      </div>
      <div class="quote-container">
        <div class="quote">
          Backing up the panel won't do anything. we need to reboot redundant! Trying to get 
          words to get the letter count to 120.
        </div>
        <div class="created">Asked by John Snow 4 months ago</div>
        <div class="viewed">Seen 21241 times</div>
      </div>
      <div class="quote-container">
        <div class="quote">
          Backing up the panel won't do anything. we need to reboot redundant! Trying to get 
          words to get the letter count to 120.
        </div>
        <div class="created">Asked by John Snow 4 months ago</div>
        <div class="viewed">Seen 21241 times</div>
      </div>
      <div class="quote-container">
        <div class="quote">
          Backing up the panel won't do anything. we need to reboot redundant! Trying to get 
          words to get the letter count to 120.
        </div>
        <div class="created">Asked by John Snow 4 months ago</div>
        <div class="viewed">Seen 21241 times</div>
      </div>
      <div class="quote-container">
        <div class="quote">
          Backing up the panel won't do anything. we need to reboot redundant! Trying to get 
          words to get the letter count to 120.
        </div>
        <div class="created">Asked by John Snow 4 months ago</div>
        <div class="viewed">Seen 21241 times</div>
      </div>
      <div class="quote-container">
        <div class="quote">
          Backing up the panel won't do anything. we need to reboot redundant! Trying to get 
          words to get the letter count to 120.
        </div>
        <div class="created">Asked by John Snow 4 months ago</div>
        <div class="viewed">Seen 21241 times</div>
      </div>
      <div class="quote-container">
        <div class="quote">
          Backing up the panel won't do anything. we need to reboot redundant! Trying to get 
          words to get the letter count to 120.
        </div>
        <div class="created">Asked by John Snow 4 months ago</div>
        <div class="viewed">Seen 21241 times</div>
      </div>
      <div class="quote-container">
        <div class="quote">
          Backing up the panel won't do anything. we need to reboot redundant! Trying to get 
          words to get the letter count to 120.
        </div>
        <div class="created">Asked by John Snow 4 months ago</div>
        <div class="viewed">Seen 21241 times</div>
      </div>
      <div class="quote-container">
        <div class="quote">
          Backing up the panel won't do anything. we need to reboot redundant! Trying to get 
          words to get the letter count to 120.
        </div>
        <div class="created">Asked by John Snow 4 months ago</div>
        <div class="viewed">Seen 21241 times</div>
      </div>  
    </div>

    <footer class='footer-container'>
      <a href="/about">About</a>
      <a href="/contact">Contact</a>
    </footer>
  </body>
</html>