<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../stylesheets/questions/new.css">

    <title>New Question</title>
  </head>
  <body>
    <header>
      <div class="navbar">
        <a href="../home.html" class="image-link"><img alt="Question Bubble" src="../../imgs/logo.svg" class="question-img" /></a>
        <div class='inner-navbar-container'>
          <div><a href="./index.html">Questions</a></div>
          <div><a href="./new.html">New Questions</a></div>
          <div><a href="sign in">Sign In</a></div>
          <div><a href='sign up'>Sign Up</a></div>
        </div>
      </div>
    </header>

    <div class="main-container">
      <div>
        <div class="new-question">New Question</div>
        <div class="title-container">
          <div class="title">Title</div>
          <input class="title-box" type="text" maxlength="16">
        </div>
        <div class="body-container">
          <div class="body">Body</div>
          <textarea rows="5" cols="26" maxlength="120"></textarea>
        </div>
        <button href="#" class="submit-button">Create Question</button>
      </div>
    </div>
  <!-- d -->
    <footer class='footer-container'>
      <a href="/about">About</a>
      <a href="/contact">Contact</a>
    </footer>
  </body>
</html>