@import url("reset.css");

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  /* height: 100vh; */
  background: url('../images/background.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 600px;
  padding: 20px;
  background: #fff;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
  margin-top: 50px;
  margin-bottom: 50px;
  min-height: calc(100vh - 100px);
  border-radius: 2px;
}

.header {
  display: flex;
  background: #f8f8f8;
  padding: 20px;
  text-align: center;
  justify-content: space-between;
  border: 1px solid #ddd;
  border-radius: 3px 3px 0 0;
}

.header h1 {
  margin: 0;
  color: #333;
  font-size: 2em;
}

.header h2 {
  margin: 0;
  color: #666;
  font-size: 1.5em;
}

.name-title, .contact-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.name-title h1, .name-title h2 {
  margin: 0;
}

.footer {
  background: #f8f8f8;
  padding: 20px;
  text-align: center;
  justify-content: space-between;
  border: 1px solid #ddd;
  border-radius: 0 0 3px 3px;
}

.footer h1 {
  margin: 0;
  color: #333;
  font-size: 2em;
}

.footer h2 {
  margin: 0;
  color: #666;
  font-size: 1.5em;
}

.content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-right: 1px solid #ddd;
  border-left: 1px solid #ddd;
}
.content:not(:nth-child(4)) {
  border-bottom: 1px solid #ddd;
}

.section {
  display: flex;
  flex-direction: column;
  margin: 20px;
}
.section:not(:last-child) {
  border-right: 1px solid #ddd;
  padding-right: 30px;
}

.section h3 {
  margin: 0;
  color: #666;
  font-size: 1.5em;
}

.center {
  display: flex;
  align-self: center;
}

.items {
  display: flex;
  flex-direction: column;
}

.item {
  margin: 10px 20px 10px 10px;
  padding-bottom: 20px
}

.item:not(:last-child) {
  border-bottom: 1px solid #ddd;
}

.item h4 {
  margin: 0;
  color: #333;
  font-weight: bold;
}

.icon-container {
  display: flex;
  justify-content: space-around;
}

.icon {
  background: #f8f8f8;
  border-radius: 50%;
  padding: 10px;
  width: 40px;
  height: 40px;
}
