<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="css/reset.css"> -->
    <link rel="stylesheet" href="../stylesheets/home.css">
    <title>Home</title>
  </head>
  <body>
    <header>
      <div class="navbar">
        <a href="home.html" class="image-link"><img alt="Question Bubble" src="../imgs/logo.svg" class="question-img" /></a>
        <div class='inner-navbar-container'>
          <div><a href="./questions/index.html">Questions</a></div>
          <div><a href="./questions/new.html">New Questions</a></div>
          <div><a href="sign in">Sign In</a></div>
          <div><a href='sign up'>Sign Up</a></div>
        </div>
      </div>
    </header>

    <div class="main-container">
      <div class="quote1">You Know Nothing, Jon Snow</div>
      <div class='quote2-container'>
        <div class="quote2">
        A dream of Spring. All men must die. Pay the iron price.
        It is rare to meet a Lannister who shares my enthusiasm
        for dead lannisters. Unbowed, Unbent, Unbroken.
        </div>
        <div class="quote-states">
          <div class="created">Asked by John Snow 4 months ago</div>
          <div class="edited">last edited 4 months ago</div>
          <div class="viewed">Seen 21241 times</div>
        </div>
      </div>
    </div>
    <footer>
      <a href="/about">About</a>
      <a href="/contact">Contact</a>
    </footer>
  </body>
</html>